
body {
	background-image: url("../images/bg.png");
}

#header {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  position: relative;
  left: 100px;
  bottom: 20px;
  z-index: -1;
}

#main-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 920px;
  height: 800px;
  position: relative;
  left: 100px;
  bottom: 475px;
}

button {
	display: block;
	position: relative;
	right: 120px;
	bottom: 225px;
	margin: 30px;
	padding: 2px 15px;
	border: none;
	background-color: #9ec8ef;
	color: maroon;
	text-decoration: none;
	font-size: 15px;
	line-height: 40px;
	letter-spacing: 5px;
	font-weight: bold;
}

a {
	text-decoration: none;
	background-color: #9ec8ef;
	color: maroon;
}

a:hover {
	text-decoration: none;
	color: white;
}

a.button:hover {
	background-color: maroon;
	color: #9ec8ef;
}

#footer {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  position: relative;
  left: 100px;
  bottom: 600px;
  z-index: -1;
}



